<h1>Edit Group</h1>

<%= render 'form' %>

<%= link_to 'Show', @pool %> |
<%= link_to 'Invite Members', invite_pool_path(@pool) %> |
<%= link_to 'Back', :controller => :pages, :action => :manage_groups %>
