<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Notes for your 15-Minute Call on <% @date %></h2>
	<% @participants.each do |user| %>
    <p>
       <%= gravatar_for user, :size => 30 %> <%= link_to user.name, "http://www.15minutecalls.com/u/" + user.handle %><br/>
    </p>
    <%= render 'pages/user_information' %>
    <% end %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>