<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>
  Thanks for signing up for 15 Minute Calls, <%= @user.first_name %>.
</p>
&nbsp;
<p>
  I'm sending you this email because you signed up for the service, but haven't tried it out just yet.
</p>
&nbsp;
<p>
  You're just one step away from bringing more accountability into your life.  All you have to do is <br/>
  choose a time during the week when you're available for a quick group call with two other members.
</p>
&nbsp;
<p>
  We currently have <%= @timeslots.count %> groups up and running.  Simply pick the one that works best for you. After<br/>
  clicking the 'Join this call' link, you can choose which days during the week you want your call.
</p>
&nbsp;
<p>
    <% @timeslots.each do |ts| %>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= ts[:string] %> |
       <b><%= link_to 'Join this call', :only_path => false, :controller => :pages, :action => :join, :time => ts[:time] %></b>
       <br/>
    <% end %>
</p>
&nbsp;
<p>
  Don't worry if your goals aren't crystal clear, or if you feel unprepared for the call.  Think of it as<br/>
  a way to connect with two other creative people for a simple chat about your various projects.<br/>
  It's really that easy. ;-)
</p>
&nbsp;
<p>
  Come on back and give it a shot. <a href="http://www.15minutecalls.com">15minutecalls.com</a>
</p>
&nbsp;
<p>
-Blake<br/>
blakem@15minutecalls.com<br/>
</p>
  </body>
</html>