<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    Hey <%= @user.name %>,
    </p>

    <p>
    <%= @sender.name %> has added you to the group: <%= @pool.name %>.  
    </p>

  <% unless @personal_message.blank? %>
    <p>
    They included the personal message: <%= @personal_message %>
    <p>
  <% end %>

  </body>
</html>