<h1>Edit your availability or change the time we should call you.</h1>

<%= render 'form' %>

<%= link_to 'Delete', event_path, :confirm => 'Are you sure you want to delete this event?', :method => :delete %> |
<%= link_to 'Back', root_path %>
