<h3>Content of the Calls</h3>
<p>
After brief introductions, you will have about four minutes to check-in with your team.  They will have access to your stated goals, 
so this is the time to discuss them.  Answer the questions: What am I up to today?  What are the biggest items on my list?  What will I feel 
good about accomplishing today?  The more clearly you know this, the better the chance is that you will get it done.
</p>
<p>
During this time, others may ask you questions or offer you suggestions.  Try to keep this brief and to the point.
15 minutes goes by quick, so use it wisely. ;-)
</p>
<p>
Keep an eye on the clock and move onto the next person at the 5 and 10 minute marks.
</p>