<h3>How it works</h3>
<p>
Enter in three goals for yourself, then choose a time you're available for a quick 15 minute call.  At that time we'll call 
and conference you in with two other members.  You'll have access to each others goals during the call and will each have a
chance to check in around how things are going for you.
</p>

<p>
When the call begins, you will receive an email with the other participants goals.  These goals are also viewable on their profiles
and through the 'View Current Conference' link (which only shows up when you're on the call).  The structure is to help each other
stay accountable and be more productive.
</p>

<p>
If you miss the call or lose reception, you may call back into the number that called you
(415-766-9865)
</p>

<p>
We try hard to keep the groups consistent over time, but it does depend on who's available at what time.
</p>
	

