<h3>Content of the Calls</h3>
<p>
After a brief introduction of each person on the call, you will be given three minutes to state what your plans are 
for the day.  Answer the questions: What am I up to today?  What are the biggest items on my list?  What will I 
feel good about accomplishing today?  The more clearly you know this, the better the chance is that you will get
it done.
</p>
<p>
During this time, others may ask you questions or offer you suggestions.  Try to keep this brief and too the point.
15 minutes goes by quick, so use it wisely. ;-)
</p>