<h3>How it works</h3>
<p>
Choose a time when you'd like a 15 minute accountability call.  We'll call you at that time and place you into a conference
call with two others who are available at that time.  If you miss the call or lose reception, you may call back into
the number that called you (415-766-9865) We try hard to keep the groups consistent over time, but it does
depend on who's available at what time.
</p>
<p>
During the call you can click on the other participants profiles and see what projects they are working on and what they've
listed in their daily plan.  The goal is to help each other stay accountable and be productive.
</p>