<% if false %>
  <div class="notice">
  <h3>We're back!</h3>
  <p><font size="+1">
  I apologize for the downtime last week.  We were affected by the <%= link_to "Amazon EC2 
  outage", 'http://www.informationweek.com/articles/229402054' %>  that occurred late last week.  Everything is back
  online now, though.
  </div></font></p>
<% end %>