<% if @timeslots.any? %>
<p>
    <% @timeslots.each do |ts| %>
       <%= ts[:string] %> |
       <%= link_to "Show Participants", :controller => :pages, :action => :time_slot, :time => ts[:time] %> |
       <b><%= link_to 'Join this call', :controller => :pages, :action => :join, :time => ts[:time] %></b>
       <br/>
    <% end %>
</p>
<% else %>
No current calls scheduled.<br/>
<% end %>
<%= render 'create_new_timeslot'%>
