<% if @timeslots.any? %>
  <ul class="home">
    <li><b>Join an existing time slot:</b></li>
    <% @timeslots.each do |ts| %>
       <li><%= ts[:string] %> | <b><%= link_to 'Join', :action => :join, :time => ts[:time] %></b></li>
    <% end %>
  </ul>
<% end %>
