<% if @timeslots.any? %>
<p>
    <% @timeslots.each do |ts| %>
       <%= ts[:string] %> |
       <%= link_to "Show Participants", :controller => :pages, :action => :time_slot, :time => ts[:time], :group_id => ts[:pool_id] %> |
       <b><%= link_to 'Join this call', :controller => :pages, :action => :join, :time => ts[:time], :group_id => ts[:pool_id] %></b>
       <br/>
    <% end %>
<% elsif current_user.events.select{ |e| e.pool_id == @group.id }.empty? %>
No current calls scheduled.<br/>
<% end %>
<%= render 'create_new_timeslot'%>
</p>
