<% if @timeslots.any? %>
  <% unless @view_options[:hide_create_new_timeslot] %>
    <p>
  <% end %>
    <% @timeslots.each do |ts| %>
       <%= ts[:string] %> |
       <%= link_to "Show Participants", :controller => :pages, :action => :time_slot, :time => ts[:time], :group_id => ts[:pool_id] %> |
       <b><%= link_to 'Join this call', :controller => :pages, :action => :join, 
         :time => ts[:time], 
         :group_id => ts[:pool_id],
         :days => ts[:days].count == 1 ? ts[:days].join(',') : '',
        %></b>
       <br/>
    <% end %>
<% elsif current_user.normal_events.select{ |e| e.pool_id == @group.id }.empty? %>
No current calls scheduled.<br/>
<% end %>
<% unless @view_options[:hide_create_new_timeslot] %>
  <%= render 'create_new_timeslot'%>
<% end %>
<% unless @view_options[:hide_create_new_timeslot] %>
  </p>
<% end %>
