<% conferences = current_user.conferences %>
<% if conferences.any? %>
  <hr>
  <p><b>Your 15-Minute Calls:</b></p>
  <% current_user.conferences.sort_by(&:started_at).each do |conference| %>
    <p>
    <%= conference.started_at.strftime("%a %b %e") %> <%= conference.started_at.strftime("%l:%M%p").downcase %>:
    <%= conference.status.titleize %>
    <br/>
    <% conference.users.each do |user| %>
      &nbsp;&nbsp;&nbsp;<%= user.name %><br/>
    <% end %>
    </p>
  <% end %>
<% end %>