<% plan = @user.current_plan %>
<% if plan %>
  <b>Current Plan for <%= plan.created_at.strftime("%A %b #{plan.created_at.day.ordinalize}") %>:</b>
  <% if @mailer %>
    <dl><dd>
    <%= simple_format(h(plan.body.strip)).gsub(/<br \/>( +)/) { "<br />#{'&nbsp;' * $1.length}" } %>
    </dd></dl>
  <% else %>
    <dl><dd>
    <span class="plan"><%= simple_format(h(plan.body.strip)).gsub(/<br \/>(\s+)/) { "<br />#{'&nbsp;' * $1.length}" } %></span>
    </dd></dl>
  <% end %>
<% else %>
  <p>Current Plan: None
  <% if @user == @current_user %>
    <br/><strong><%= link_to "Update your Plan", '/pages/plan' %></strong>
  <% end %>
  </p>
<% end %>