<% if @view_options[:show_member_message] %>
<%= form_tag '/pages/send_member_message' %>
<div class="field">
  <member_message>
  <%= text_area_tag('body', "Enter message to #{@user.first_name} here.", :class => "round") %>
  </member_message>
</div>
  <%= hidden_field_tag 'member_id', @user.id %>
<div class="actions">
  <%= submit_tag "Send quick message to #{@user.first_name}" %>
</div>
</form>
<% end %>