<h3>Welcome</h3>
<p>
Welcome to the site!  First off, this site is in active development,
so changes are happening fast.  I'm excited to have you on board for the ride.
</p>

<%= render 'help_calls' %>
<%= render 'help_feedback' %>
