<h3>Welcome</h3>
<p>
Welcome to the site!  I've had fun building it and meeting other members on the calls.  I hope you're intrigued enough by the idea to try it out.  
Hopefully, I'll get a chance to check-in with you on one of the upcoming calls. ;-) 
</p>

<%= render 'help_how_it_works' %>
<%= render 'help_calls' %>
<%= render 'help_feedback' %>

<% unless user_signed_in? %>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end %>
