<%= render 'home_status_message' %>
<h1>Welcome to our beta release!</h1>
<p><font size="+1">
  For the last six-months, I've had regular fifteen-minute accountability calls with two other 
  successful entrepreneurs. It's helped me stay focused, on point, and moving forward.
</font></p><p><font size="+1">
  15 Minute Calls brings this concept to a new level.  <strong>Pick three goals and a few times during the week that you're available.
  We'll call you when the time arrives, and connect you with two other members</strong>.   Your team will have 15 minutes to 
  check-in and support each other around your goals.
</font></p><p><font size="+1">
  Membership is free during the beta-release, so it's a great time to try it out.  And it's fun too. ;-)
</font></p><p><font size="+1">
  Comments and questions to: support@15minutecalls.com<br/>
</font></p><p><font size="+1">
  Membership invite codes available on request. Enjoy.
</font></p><p><font size="+1">
  -Blake
</font></p>
<% unless user_signed_in? %>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end %>