<h1>Welcome to our beta release!</h1>
<p><font size="+1">
  For the last six-months, I've had a daily fifteen-minute accountability call with two other 
  successful entrepreneurs.  We each take three minutes to state what we're up to that 
  day.  It's been a fantastic way for us to get organized and start the day off powerfully.
</font></p><p><font size="+1">
  15minutecalls.com brings this concept to a new level.  Choose your time-slots and we'll automatically
  find others who are available at that time.  When the time arrives, <strong>we'll set up a conference room and 
  call all three of you</strong>.  Your team will have 15-minutes to state what your plans are for the day and get
  yourself organized.  Pretty cool!
</font></p><p><font size="+1">
  During the beta-release, <strong>it's totally free</strong>, so sign up and take it for a test drive.  I 
  think you'll find it's a powerful way to bring meaningful change into your life.
</font></p><p><font size="+1">
  Comments and questions to: <strong>support@15minutecalls.com</strong><br/>
</font></p><p><font size="+1">
  Invite codes available on request. Enjoy. ;-)
</font></p><p><font size="+1">
  -Blake
</font></p>
<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
