<h1>Welcome to our beta release!</h1>
<p>
  For the last six-months I've started my day with a quick fifteen-minute accountability phone call
  with three of my friends.  We each take three minutes to state what we're up to that day.  It has
  been a fantastic way for me to get organized and start my day off powerfully.
</p>
<p>
  15minutecalls.com brings this concept to a new level.  Choose your time-slots and we'll automatically
  find others who are available at that time.  At that time we'll set up a conference room and call all
  three of you.  Your team will have 15-minutes total to state what your plans are for the day and get
  yourself organized.  Pretty cool!
</p>
<p>
  During the beta-release, it's totally free, so sign up and take it for a test drive.  I think you'll find it's
  a powerful way to bring meaningful change into your life.
</p>
<p>
  Comments and questions to: support@15minutecalls.com<br/>
</p>
<p>
  Enjoy. ;-)
</p>
<p>
  -Blake
</p>

<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
