<table class="profile" summary="Profile information">
  <tr>
	<td class="main">
      <%= render 'user_link' %>
      Title: <%= @user.title.blank? ? 'None' : @user.title %><br/>
      From: <%= @user.location.blank? ? 'None' : @user.location %><br/>
    </td>
    <td class="sidebar round">
	  <%= render 'sidebar' %>
	</td>
  </tr>
</table>