<p>Hey there, <%= @resource.first_name %>.  Welcome to 15minutecalls.com</p>
<p>&nbsp;</p>
<p>I'm excited you've decided to sign up! There are just a few steps to get you to your first call</p>
<p>&nbsp;</p>
<ol>
	<li><%= link_to 'Click here to confirm your account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></li>
    <li>Make sure we've got your phone set up properly. <%= link_to 'Click here to place a test call to your phone' %></li>
</ol>
