<p>Hey there, <%= @resource.first_name %>.  Welcome to 15minutecalls.com!</p>

<p>Please confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

Also, I'd love to hear your feedback.  We just launched and I'd like to know what's working 
for you and what needs improvement.  Drop me a line at: blakem@15minutecalls.com

Thanks for trying out the site.  Enjoy. ;-)

-Blake
