<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></lil>
      <%# = render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
    </ul>
  </nav>
</header>